*{
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    background-color: #FEFAE0;
    margin: 0;
    color: #4E8098;
}

.skip-link {
  position: absolute;
  left: -999px;
  top: 0;
}

.skip-link:focus {
  left: 1rem;
  background: white;
  color: #011627;
  padding: 0.5rem;
  z-index: 9999;
}

:focus { 
    outline: 3px solid #BE7C4D; 
    outline-offset: 2px; 
}


nav{
    display: flex;
    justify-content: space-evenly;
    background-color: #2E2C2F;
    font-size: 1.5rem;
    padding: 2rem;
}

.site-title{
    flex: 1;
    font-size: 2.5rem;
    font-weight: 900;
    color: #BE7C4D;
    margin: auto;
}

ul{
    list-style-type: none;
    flex: 1;
    display: flex;
    justify-content: space-between;
}

li{
    display: inline; 
    font-weight: 900;    
}


.blogs{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 10rem auto;
}

h2{
    width: 80%;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
}

h3{
    color: #BE7C4D;
}

a{
    text-decoration: none;
    color: #FEFAE0;
}

.home{
    text-align: center;
}

.home h1{
    font-size: 4rem;
    color: #2E2C2F;
}

.home p{
    font-size: 1.5rem;
}

.read-more, .read-less{
    color: #FEFAE0;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    margin-right: 1rem;
}

.about{
    width: 90%;
    margin: auto;
    background-color: #011627;
    border-radius: 20px;
    display: flex;
    padding: 0;
    overflow: hidden;
}

#image-box{
    position: relative;
    flex: 1;
}

.about img{
    height: auto;
    max-height: 35rem;
    width: 100%;
    object-fit: cover;
}

#image-box::after{
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 200, 255, 0.1);
    pointer-events: none;
}

.my-info{
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FEFAE0;    
}

.my-info p{
    font-size: 1.5rem;
}

.More-details{
    display: none;
}

.blogs{
    margin: 5rem;
}

.blogs-post{
    width: 90%;
    margin: auto;
    padding: 1rem;
    background-color: #2E2C2F;
    color: #61a1bf ;
    border-radius: 20px;
}

form{
    width: 90%;
    max-width: 600px;
    margin: auto;
    background-color: #011627;
    padding: 2rem;
    font-size: 1.2rem;
    border-radius: 20px;
    color: #FEFAE0;
}

fieldset{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: none;
}

label, legend{
    font-weight: 900;
}

.text-box{
    width: 80%;
    height: 2rem;
    /* outline: none; */
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.radio{
    display: unset;
}

small{
    color: rgb(216, 54, 54);
    font-weight: 900;
}

textarea{
    resize: none;
    width: 80%;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1rem;
}

input[type='submit']{
    padding: 1rem;
    border-radius: 10px;
    margin: 0 45%;
    background-color: #4E8098;
    color: #0d0c0d;
    font-size: 1rem;
    font-weight: 600;
    border: none;
}

footer{
    background-color: #2E2C2F;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FEFAE0;
}

footer ul{
    display: flex;
    /* justify-content: space-evenly; */
    gap: 2rem;
}


@media screen and (max-width: 900px) {
    nav{
        justify-content: space-around;
    }
    .about{
        flex-direction: column;
    }
}

@media screen and (max-width: 450px){
    header{
        width: 100%;
    }
    nav{
        width: 100%;
    }
}